@import "tailwindcss";

@theme {
	--color-background: #f9f9f9;
	--color-background-secondary: #f3f0ea;

	--color-foreground: #303031;

	--color-primary: #71a894;
	--color-primary-foreground: #ffffff;

	--color-destructive: #ea3d3d;

	--color-card: #ffffff;

	--font-inter: "Inter", sans-serif;
	--font-nohemi: "Nohemi", sans-serif;
	--font-proxima-nova: "Proxima Nova", sans-serif;

	--breakpoint-xs: 380px;
}

body {
	@apply bg-background text-foreground font-inter;
}

* {
	scrollbar-color: var(--color-primary) transparent;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	@apply bg-primary;
}

/* Custom fonts */
@font-face {
	font-family: "Nohemi";
	font-weight: 500;
	src:
		local("Nohemi"),
		url(/fonts/Nohemi-Medium.woff) format("woff");
}

@font-face {
	font-family: "Nohemi";
	font-weight: 600;
	src:
		local("Nohemi"),
		url(/fonts/Nohemi-SemiBold.woff) format("woff");
}

@font-face {
	font-family: "Nohemi";
	font-weight: 700;
	src:
		local("Nohemi"),
		url(/fonts/Nohemi-Bold.woff) format("woff");
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: 500;
	src:
		local("Proxima Nova"),
		url(/fonts/Proximanova-Medium.otf) format("otf");
}

@font-face {
	font-family: "Proxima Nova";
	font-weight: 700;
	src:
		local("Proxima Nova"),
		url(/fonts/Proximanova-Bold.otf) format("otf");
}
